<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<h1><%= @list.name %></h1>
<div class="d-flex justify-content-evenly">
  <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(movie_id: movie.id, list_id: @list.id) %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src=<%= movie.poster_url %> alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= movie.title %></h5>
        <p class="card-text"><%= movie.overview %></p>
        <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" do%>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "Add a Movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
