<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1><%= @list.name %></h1>
    <%= link_to "Add a Movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
  </div>
  <div class="row">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(movie_id: movie.id, list_id: @list.id) %>
      <div class="col-md-4 mb-4">
        <div class="card" style="width: 100%;">
          <%= image_tag(movie.poster_url, alt: movie.title, class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><%= movie.overview %></p>
            <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" do %>
              <i class="fa fa-trash"></i> Remove
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
